{% extends 'base.html'%}
{% block title %} смотрите {% endblock %}
{% block content %}


{% if book.image %}
<img style="width:150px; height:150px" src="{{book.image.url}}">
{% endif %}


<h1>{{book.title}}</h1>
<h2>{{book.autor}}</h2>
<br>
<p>год: {{book.year}} </p>
<p>рейтинг: {{book.raiting}} </p>
<p>издатель: {{book.publisher.title}} </p>
<p>язык: {{book.publisher.get_language_display}} </p>

{% if book.genre %}
<p>жанр: {{book.genre.title}} </p>
{% else %}
<p>Жанр: не указан</p>
{% endif %}
<p>время публикации на сайте: {{book.created_at}} </p>

<p>теги: </p>
{%for tag in book.tags.all %}
<b><a href="{% url 'get_tag_books' tag.title  %}">{{tag.title}}</a></b>
{% endfor %}

<p>Книга добавлена :  {{book.user.username}}</p>
<p>цена :  {{book.price}}</p>

{% if book.count > 0 %}
<a href="{% url 'buy_book' book.id%}"> купить книгу</a>
    {% else %}
    <h3>Книг на складе нет</h3>
{% endif %}
    <br>


{% if request.user.is_authenticated and show_favorite_button %}
<a href="{% url 'favorite_book' book.id %}"> Добавить в избранное </a>
    {%  elif  request.user.is_authenticatedc%}

    {% else %}
    <h3>добавлено в избранное</h3>
{% endif %}

<hr>

{% if request.user.username == request.user.username %}
    <h3>Можно удалить книгу</h3>
<a href="{% url 'delete_book' book.id%}"> удаляем книгу</a>
    <h3>Можно редактирывать</h3>
<a href="{% url 'update_book_by_id' book.id%}"> редактирывать книгу</a>
{% endif %}
<hr>
{% if request.user.is_authenticated %}
<form action="{% url 'add_comment' book.id %}" method="post">
    {% csrf_token %}

    <textarea name="comment"></textarea>

    <input type="submit" value="добавить коментарий">
</form>
{%endif%}

<br>
{%for comment in book.comments.all %}
    <div style="border: 1px solid black;width: 300px; margin-bottom: 10px; padding: 10px;">
    <p>{{ comment.content }}</p>
    <p>{{ comment.user }}</p>
        <p>{{ comment.date_created }}</p>
</div>
{% endfor %}
{% endblock %}
