<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>


<form action="{% url 'search_book' %}" method="get">
    {% csrf_token %}
<input placeholder="введите название книги"  type="text" name="title">
<input placeholder="введите жанр'" type="text" name="genre">
    <input placeholder="введите цену до '" type="number" name="price_lt">
    <input type="submit" value="OK">
</form>

{% block content %}

{% endblock %}
</body>
</html>