<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{book.title}}</title>
</head>
<body>

{% if book.image %}
<img style="width:150px; height:150px" src="{{book.image.url}}">
{% endif %}


<h1>{{book.title}}</h1>
<h2>{{book.autor}}</h2>
<br>
<p>год: {{book.year}} </p>
<p>рейтинг: {{book.raiting}} </p>
<p>издатель: {{book.publisher.title}} </p>
<p>язык: {{book.publisher.get_language_display}} </p>

{% if book.genre %}
<p>жанр: {{book.genre.title}} </p>
{% else %}
<p>Жанр: не указан</p>
{% endif %}
<p>время публикации на сайте: {{book.created_at}} </p>

<p>теги: </p>
{%for tag in book.tags.all %}
<b><a href="{% url 'get_tag_books' tag.title  %}">{{tag.title}}</a></b>
{% endfor %}

    <br>

    <h3>Можно удалить книгу</h3>
<a href="{% url 'delete_book' book.id%}"> удаляем книгу</a>


</body>
</html>