{% extends 'base_post.html'%}
{% block title %} детальная {% endblock %}
{% block content %}
<h1>Тут находятся полная информация о посте</h1>

{% if post.image %}
<img style="width:120px; height:120px" src="{{post.image.url}}">
{% endif %}


<h3> название поста: </h3>
<p>{{post.title}}</p>

<p> Количесво лайков {{post.likes}} </p>

{% if request.user.is_authenticated %}
<a href="{% url 'likes_post' post.id%}"> поставить лайк </a>
{% endif %}



<h3> теги: </h3>
{%for tag in post.tags.all %}
<p>{{tag.title}}</p>
{% endfor %}
<h3> категория: </h3>
<p>{{post.category.get_sense_display}}</p>
<h3> описание: </h3>
<p>{{post.description}}</p>
<br>
<br>
<p>{{post.date_create}}</p>

{% if request.user.username == request.user.username %}
        <h3>Можно удалить пост</h3>
    <a href="{% url 'delete_post' post.id%}"> удалить пост</a>
        <h3>Можно редактировать пост</h3>
    <a href="{% url 'update_post' post.id%}"> редактирывать пост</a>
{% endif %}

<p>Пост добавил :  {{post.user.username}}</p>
{% endblock %}