<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>

    <h1>
        Список книг
        {{books}}
    </h1>

    {% for book in books %}
        <p>{{book}}</p>
        <p>{{book.title}}</p>
        <p>{{book.autor}}</p>
    {% endfor %}

    <h1>Жанры:</h1>
    {% for genre in genres %}
        <p>{{genre}}</p>
        <p>{{genre.title}}</p>

    {% endfor %}


    <h1>Издание</h1>
    {% for publisher in publishers %}
        <p>{{publisher}}</p>
    {% endfor %}



</body>
</html>