{% extends 'base.html' %}
{% block title %}
главная по книгам
{% endblock %}

{% block content %}


{% if request.user.is_authenticated %}
    <h1>
        Вы успешно вошли как {{request.user.username}}
    </h1>
    <a href="{% url 'logout' %}"> выход</a>
    {% else %}

<a href="{% url 'register' %}"> регистрация</a>
<a href="{% url 'login' %}"> вход</a>
{% endif %}


<h1>
    Список книг
</h1>

{% for book in books %}
<p>
<a href ="{% url 'get_book' book.id %} ">{{book.title}}</a>
</p>
<p>Автор: {{book.autor}}</p>
<p>Жанры: {{book.genre.title}}</p>
<p>Год: {{book.year}}</p>
        <br>
<br>
{% endfor %}


{% if request.user.is_authenticated %}
<a href="{% url 'add_book' %}"> добавить книгу</a>
{% endif %}
{% endblock %}