{% extends 'base.html' %}
{% block title %}
фильтр по тегау
{% endblock %}


{% block content %}
<form action="{% url 'search_book_by_tags' %}" method="get" style="width: 300px;margin: 20px;">
    {% csrf_token %}
    <input placeholder="Введите теги" class="form-control" name="tags_input">
    <input type="submit" value="OK">
</form>
{%if messeges %}

    {% for messege in messeges %}
        <div class="alert alert-danger" role="alert">
                {{messege}}
        </div>

    {% endfor %}

{% endif %}

    <h1>Тег: {{tag.title}}</h1>
    <h3> все книги с таким тегом</h3>
    {%for book in tag_books%}
        <p>{{book.title}}</p>

    {% endfor %}

{% endblock %}

